@import "../../colors.scss";

.app-header-container {
    background: $black;
    display: flex;
    align-items: center;
    justify-content: space-between;

    a {
        text-decoration: none;
      color: $main;
    }


    h1 {
      color: $main;
        margin: 0;
        margin-bottom: 4px;
    }
}
