// $main: #6C09D9;
// $secondary: #D909A6;
// $background: #B009D9;
// $section: #9D92DB;
// $sectionHover: #7d70c5;
// $highlight: #D9092A;
// $intensive: #BE51D9;
// $border: #E0E0E0;
// $hover: #F5F5F5;
// $white: white;
// $black: black;

$white: #feefc4;
$main: #faaa93;
$background: #82a1bf;
$black: #513a52;
